* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.navbar1{
    padding: 0px;

    .header1 {
        background-color: #E7D3CC;
        color: white;
        font-size:11px;
    }
}


.navbar2 {
    padding: 0px;
    #logo {
        font-size: 27px;
    }
    #search {
        font-size: 20px;
    }
    .divNavBar2{
        position: relative;

            button{
                font-size: 12px;
                    span{
                      width: 18px;
                    }
            }
            
            #navbarNav{
                margin-top: 254px;
                padding: 15px;
                margin-left: -12px;
                position: absolute;
                background-color:#ffffffe8;
                width: 100%;

                .nav-link{
                    padding: 2px 0px  
                }
            }
    }
    .btn-search{
        background-color: #B57F4E !important;
        color: white !important;
        padding: 8px;
        display: none;
        
        
    }
    .active{
        text-decoration: underline #B57F4E 2px;
    
    }
}


.Div01{
    background-image: linear-gradient(180deg, #637C90, #A37E65);
    color: white;
    padding-top: 22px;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);

    #p1 {       
        font-size: 20px;
        font-weight: 700;
    }
    
    #p2{
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
    }

    .Button_Consulta{
        background-color: #B57F4E !important;
        color: white;
        margin-top: 15px;
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
    }

    .div01-img{

        margin-top: 20px;
        text-align: center;
    }
    img{
        width: 100px;
    }

}

.Div02{

    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    padding-top: 50px;

    .Div02_Title{
        font-weight: 700;
    }
    .h1,.lead{
        text-align: center
    }
    .lead{
        font-size: 11px;
        font-weight: 400;
    }

   .Div021{
    text-align: center;
        .img01{
            width: 100px;
        }
        .Name{
            font-weight: 600;
        }
        .SubTitle{
            font-weight: 500;
        }
        .TextDiv021{
            .p3{
                text-align: justify;
                font-weight: 400;
            }
        }
        .img02{
            display: none;
        }
    }

}

.Div03{
    padding: 50px 0px 0px 0px;
    color: white;
    background-color:#637C90;
    
    .h1{
        text-align: center;
        font-weight: 700;
    }
    .lead{
        font-size: 11px; 
        text-align: center;
    }

    .areas{
        
        margin: 0px;
        padding: 0px;
        text-align: center;
        display: block;
        img{
            
            padding: 0px;
            width: 95px;
        }
    }
    
}
.Div04{
    background-color:#637C90;
    color: white;
    
    .Div041{
        .p-title{
            font-weight: 700;
            font-size: 25px;
        }
        .p-subtitle{
            font-weight: 400;
        }
        .Div041Form{
            border-radius: 5%;
            .photo{
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                };
                span{
                    background-color: #B57F4E !important;
                    padding: 7px;
                    margin-left: 35px;
                    border-radius: 10px;
                }
                
            }
            
            background-color:#E7D3CC;
            form{
                .mb-3{
                    font-weight: 500;
                }
                .name{margin-top: 20px;}
                
                .btn{
                    background-color: #B57F4E !important;
                    margin-top: 15px;
                    --bs-btn-padding-y: .25rem;
                    --bs-btn-padding-x: .5rem;
                    --bs-btn-font-size: .75rem;
                    
                }
            }
            

        }
    }   
}

.Div05{
    background-image: linear-gradient(180deg,#304251 , #637C90);
    color: white;

    .h3{
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 35px;
    }
    .cardsection{
        display: 
        flex;
        flex-direction: column;
        gap: 10px;
        .card{
            width: 12rem;
            color: black;
            .card-title{
                font-weight: 600;
            }
        }
        .card-text{
            font-size: 10px;  
            font-weight: 400;  
        }
        .card-link{
            font-size: 8px;
        }
        
    }
    
}  

footer{
    padding: 16px 5px 16px 5px;
    background-color: #012438;
    color: #FFFFFF;
    font-size:12px;
    .p1-f{
        margin-bottom: 5px;
    }
    .p2-f{
        font-size: 5px;
    }
    .p-subtitle{ 
        font-weight: 500;  
        font-size: 14px;      
    }
}

@media only screen and (min-width: 895px){
    .header1 {
        font-size:13px;
    }

}	