* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}




@media only screen and (min-width: 1px){

    .whatsapp-button{
        img{
            width: 40px;
            height: 40px;
        }
        
    }

    .owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{

        color: #fff !important;
        font-size: 30px !important;
        width: 10px;
        height: 0;
        position: absolute;
        top: -1vh;

        
    }
    .owl-carousel .owl-nav .owl-next{
        right: -10px;
        span{
            font-size: 90px;
        }
    }

    .owl-carousel .owl-nav .owl-prev{
        left: -26px;
        span{  
            font-size: 90px;
        }
    }
.navbar1{
    padding: 0px;
    
    .text_NavBar1{
        display: none;
    }

    .header1 {
        background-color: #E7D3CC;
        color: #637C90;
        font-size:11px;
        padding-left: 1.4rem;
        padding-right: 2.5rem;
        justify-content: space-around;
    }
}


.navbar2 {
    padding: 0px;
    background-color: white;
    #logo {
        font-size: 27px;
    }
    #search {
        font-size: 20px;
    }
    .divNavBar2{
        position: relative;
        padding-right: 2rem;
    img{
        width: 95px;
        
    }
    .navbar-brand{
        padding-left: 15px;
    }

        button{
            font-size: 12px;
                span{
                    width: 18px;
                }
        }
            
        #navbarNav{
            margin-top: 220px;
            padding: 15px;
            margin-left: -12px;
            position: absolute;
            background-color:white;
            width: 100%;
            

            .nav-link{
                padding: 5px 4px  
            }
        }
    }
    .btn-search{
        background-color: #B57F4E !important;
        color: white !important;
        padding: 8px;
        display: none;
        font-weight: 600;
        
        
    }
    .active{
        //text-decoration: underline #B57F4E 2px;
        font-weight: 600;
        color: rgb(138, 81, 38) !important;
    
    }
}


.Div01{
    background-image: linear-gradient(180deg, #637C90, #A37E65);
    color: white;
    padding-top: 22px;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    

    #p1 {       
        font-size: 20px;
        font-weight: 700;
    }
    
    #p2{
        margin-top: 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .Button_Consulta{
        background-color: #B57F4E !important;
        color: white;
        margin-top: 15px;
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .div01-img{

        margin-top: 20px;
        text-align: center;
    }
    img{
        width: 100px;
         border-radius: 15px;
        
    }

}

.Div02{
    background-image: url(../img/textura_branca.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    padding-top: 50px;

    .Div02_Title{
        font-weight: 700;
    }
    .h1,.lead{
        text-align: center
    }
    .lead{
        font-size: 11px;
        font-weight: 400;
    }

   .Div021{
    text-align: center;
        .img01{
            width: 100px;
        }
        .Name{
            font-weight: 600;
        }
        .SubTitle{
            font-weight: 500;
        }
        .TextDiv021{
            .p3{
                text-align: justify;
                font-weight: 400;
            }
        }
        .img02{
            display: none;
        }
    }

}

.Div03{
    background-color: #637C90;
    padding: 50px 0px 0px 0px;
    color: white;
    min-height: 100vh;
 
  
    
    .h1{
        text-align: center;
        font-weight: 700;
    }
    .lead{
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }

    .areas{
        
        margin: 50px auto 0px auto;
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: row;
   
        img{
            padding: 4px;
        }
    }
    .text-areas{
        font-weight: 600;
        
    }
    
}

.Div04{  
    background-image: linear-gradient(28deg, #5d79a0, #1b262e);
    color: white;
    padding-bottom: 1px;
    #Fotao{
        display: none;
    }
 
    .Div041{   
        border-radius: 20px;
        padding: 10px;
        max-width: 420px;
        margin:  auto auto;
        background-color:#384c5e;
        .p-title{
            font-weight: 700;
            font-size: 25px;
        }
        .p-subtitle{
            font-weight: 400;
        }

        .Div041_Position{
            position: relative;
            top: -45px;
            max-height: 360px;
        }
        .Div041Form{
            border-radius: 5%;
            textarea{
                resize: none;
            }
            .photo{
                text-align: center;

                img{
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                };
                span{
                    background-color: #B57F4E !important;
                    padding: 4px;
                    margin-left: 35px;
                    border-radius: 10px;
                }
                
            }
            
            background-color:#E7D3CC;
            form{
                .mb-3{
                    font-weight: 500;
                }
                
                
                .btn{
                    border: #B57F4E;
                    background-color: #B57F4E !important;
                    margin-top: 15px;
                    --bs-btn-padding-y: .25rem;
                    --bs-btn-padding-x: .5rem;
                    --bs-btn-font-size: .75rem;
                    
                }
            }
            

        }
    }   
}

.Div05{
    background-image: linear-gradient(180deg,#304251 , #637C90);
    color: white;

    .h3{
        text-align: center;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 35px;
    }
    .cardsection{
        display:  flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .card{
            width: 18rem;
            color: black;
            .card-title{
                font-weight: 600;
            }
        }
        .card-text{
            font-size: 10px;  
            font-weight: 400;  
        }
        .card-link{
            font-size: 8px;
        }
        
    }
    
}  

footer{
    padding: 16px 5px 16px 5px;
    background-color: #012438;
    color: #FFFFFF;
    font-size:12px;
    .row {
        --bs-gutter-x: -2.5rem;
    }
    .p1-f{
        margin-bottom: 5px;
    }
    .p2-f{
        font-size: 5px;
    }
    .p-subtitle{ 
        font-weight: 500;  
        font-size: 14px;      
    }
}
}
/**Responsivdade 768px - TABLET**/
@media only screen and (min-width: 768px){
    .whatsapp-button{
        img{
            width: 50px;
            height: 50px;
        }
        
    }

    .owl-carousel .owl-nav .owl-next{
        right: -10px;
        span{
            font-size: 130px;
        }
    }

    .owl-carousel .owl-nav .owl-prev{
        left: -40px;
        span{  
            font-size: 130px;
        }
    }
    .navbar1{
        
     
    
        .header1 {
            font-size:11px;
            font-weight: 600;
          
            padding-left: 6.4rem;
            padding-right: 7.5rem;
        }
    }    
    .navbar2 {
        padding: 0px;
        #logo {
            font-size: 30px;
        }

        .divNavBar2{
            position: relative;

            img{
                width: 115px;
            }
    
        }
    }  
    
    .Div01{ 
        #p1 {       
            font-size:  26px;
            font-weight: 700;
        }
        
        #p2{
            margin-top: 10px;
            font-size: 17px;
            font-weight: 500;
        }
    
        .Button_Consulta{
            font-weight: 600;
            --bs-btn-padding-y: .4rem;
            --bs-btn-padding-x: .9rem;
            --bs-btn-font-size: .9rem;
        }
    
        .div01-img{
    
            margin-top: 20px;
            text-align: center;
        }
        img{
            width: 150px;
        }
    
    }
    
    .Div02{
        .lead{
            font-size: 15px;
            font-weight: 400;
        }
    
       .Div021{
        text-align: center;
            .img01{
                width: 170px;
            }
            
            .TextDiv021{
                .Name{
                    font-weight: 600;
                    margin: auto;
                }
                .SubTitle{
                    font-weight: 500;
                    margin: auto;
                }
                .p3{
                    margin-top: 20px;
                    text-align: justify;
                    font-weight: 400;
                }
            }
            .img02{
                display: none;
                width: 10px;
            }
        }
    
    }
    
    .Div03{
        .h1{
            font-weight: 700;
        }
        .lead{
            font-weight: 600;
            width: 633px;
            margin-top: 30px;
            margin-left: 32px;
            font-size: 15px; 
        }

        .areas{
            padding: 0px 20px 0px 20px;
            img{               
                padding: 10px;
            }
        }

        .text-areas{
            font-weight: 600;
            width: 633px;
            margin-left: 39px;
            
        }
        
        
    }
    .Div04{
        background-image: linear-gradient(28deg, #5d79a0, #1b262e);
        width: 360px;
        .Div041{
            width: 528px;
            border-radius: 20px;
            padding: 12px;
            min-height: 700px;
            position: relative;
            left: -30px;
            
            
            .p-title{
                font-weight: 700;
                font-size: 35px;
            }
            .p-subtitle{
                font-weight: 400;
                font-size: 17px;
            }


            .Div041_Position{
                position: relative;
                top: -55px;
                max-height: 450px;
            }
            .Div041Form{
                border-radius: 5%;           
                width: 409px;
                position: relative;
                left: 85px;

                
                .photo{
                    
                    img{
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                    };
                    span{
                        padding: 10px;
                        margin-left: 35px;
                        border-radius: 10px;
                    }
                    
                }
                
                background-color:#E7D3CC;
                form{
                    .mb-3{
                        font-weight: 600;
                        font-size: 20px;
                    }

                    
                    .btn{
                        --bs-btn-hover-border-color: #B57F4E;
                       
                        --bs-btn-padding-y: 3px;
                        --bs-btn-padding-x: 9px;
                        --bs-btn-font-size: 20px;
                        
                    }
                }
                
    
            }
        }   
    }
    
    .Div05{
        background-image: linear-gradient(180deg,#304251 , #637C90);
        color: white;
        
    
        .h3{
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 35px;
        }
        .cardsection{
            flex-direction:row;
            justify-content: center;
            .card{
                width: 12rem;
                color: black;
                .card-title{
                    font-weight: 600;
                }
            }
            .card-text{
                font-size: 13px;  
                font-weight: 400;  
            }
            .card-link{
                font-size: 12px;
            }
            
        }
        
    }  
    
    footer{
        padding: 16px 5px 16px 5px;
        background-color: #012438;
        color: #FFFFFF;
        font-size:12px;
        .p1-f{
            margin-bottom: 5px;
        }
        .p2-f{
            font-size: 5px;
        }
        .p-subtitle{ 
            font-weight: 500;  
            font-size: 14px;      
        }
    }

}	

/**Responsivdade 1024px - PC**/
@media only screen and (min-width: 992px){
    .whatsapp-button{
        img{
            width: 60px;
            height: 60px;
        }
        
    }
    .owl-carousel .owl-nav .owl-next{
        right: -10px;
        span{
            font-size: 180px;
        }
    }

    .owl-carousel .owl-nav .owl-prev{
        left: -50px;
        span{  
            font-size: 180px;
        }
    }
    .navbar1{
        padding: 0px;

        .header1 {
        
            padding-left: 35px;
            padding-right: 35px;
            justify-content: space-around;

            p{
                width: 212px;
            }
        }
        .text_NavBar1{
            display: block;
            margin-left: 25px;
            font-size:15px;
            font-weight: 500;
        }
       
    }
    
    
    .navbar2 {
        padding: 0px;
        #logo {
            font-size: 35px;
            padding-right: 20px;
        }
        #search {
            font-size: 20px;
            margin-left: 20px;
        }
        .divNavBar2{
            position: relative;
            padding-right: 10px;

            img{
                width: 150px;
            }
    
            button{
                font-size: 12px;
                    span{
                        width: 18px;
                    }
            }
            
            #navbarNav{
                margin-top: 0px;
                padding: 0px;
                position: relative;
                
                
                .navbar-nav{
                    width: 100%;
                    justify-content: space-evenly;
                    
                }

                
            }
        
            .btn-search{
                margin-right: 20px;
                padding: 5px;
                display: block;
                font-weight: 600;
                width: 260px;   
                img{
                    width: 20px
                };
            }
        }
    }
    
    
    .Div01{
        padding-top: 22px;
        padding-left: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0);
        min-height: 500px;
        
        .block1{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .mainDetails{
                width: 650px;
                padding: 50px 40px;
                margin-right: 40px;
                #p1 {       
                    font-size: 29px;
                    font-weight: 700;
                }
                
                #p2{
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: 500;
                }
            
                .Button_Consulta{
                    background-color: #B57F4E !important;
                    color: white;
                    margin-top: 15px;
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 1.5rem;
                    --bs-btn-font-size: 1rem;
                }
            }
            
        
            .div01-img{
        
                position: relative;
                left: -39px;
                text-align: center;
            }
            img{
                width: 300px;
                border-radius: 15px;
            }
        }

       
    
    }
    
    .Div02{
    
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
        padding: 50px 0px 15px 0px!important;;
        .Div02_Title{
            font-weight: 700;
            font-size: 45px;
        }
        .h1,.lead{
            text-align: center
        }
        .lead{
            font-size: 20px;
            font-weight: 400;
        }
    
       .Div021{
            text-align: center;
            display: flex;
            flex-direction: row;
            padding-right: 0px!important;;
            
            .img01{
                width: 290px;
                height: 360px;
                margin-right: 22px;

            }
            
            .SubTitle{
                font-weight: 500;
            }
            .TextDiv021{
                margin-right: 17px;
                .Name{
                    font-weight: 600;
                    width: 29rem
                }
                .p3{
                    text-align: justify;
                    font-weight: 400;
                }
            }
           
        
        }
    }

    .Div03{
        
        padding: 50px 0px 0px 0px;
        color: white;
        
        
        .h1{
            text-align: center;
            font-weight: 700;
            font-size: 40px;
        }
        .lead{
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            width: 741px;
            margin-left: 88px;
        }
    
        .areas{
            padding: 0px 70px 0px 70px;
            img{               
                padding: 10px;
            }
        }
        .text-areas{
            font-weight: 600;
            width: 790px;
            margin-left: 88px;
            
        }
        
    }
    
    .Div04{
        background-image: linear-gradient(28deg, #5d79a0, #1b262e);
        display: flex;
        color: white;
        padding-bottom: 1px;
        padding-right: 0px!important;
        #Fotao{
            position: relative;
            display: block;
            height: 488px;
            bottom: -236px;
           
        }
     
        .Div041{   
            border-radius: 20px;
            background-color:#384c5e;
            max-width: 510px;
            padding: 14px 12px;

            .Div041_Position{
                max-height: 415px;
                top: -64px;
            }
            

            .p-title{
                font-weight: 700;
                font-size: 35px;
            }
            .p-subtitle{
                font-weight: 400;
                font-size: 20px;
               
                
            }
            .Div041Form{
                border-radius: 5%;
                margin-bottom: 0px;
              
                width: 500px;
                .photo{
                  
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    };
                    span{
                        background-color: #B57F4E !important;
                        padding: 10px;
                        margin-left: 35px;
                        border-radius: 10px;
                    }
                    
                }
              
                
                background-color:#E7D3CC;
                form{
                    
                    .mb-3{
                        font-weight: 500;
                        font-size: 23px;
                    }
                    
                    .btn{
                        border: #B57F4E;
                        background-color: #B57F4E !important;
                        margin-top: 15px;
                        
                        --bs-btn-padding-y: 3px;
                        --bs-btn-padding-x: 9px;
                        --bs-btn-font-size: 20px;
                    
                    }
                }
                
    
            }
        }   
    }
    
    .Div05{
        background-image: linear-gradient(180deg,#304251 , #637C90);
        color: white;
    
        .h3{
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 35px;
        }
        .cardsection{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .card{
                width: 12rem;
                color: black;
                .card-title{
                    font-weight: 600;
                }
            }
            .card-text{
                font-size: 10px;  
                font-weight: 400;  
            }
            .card-link{
                font-size: 8px;
            }
            
        }
        
    }  
    
    footer{
        padding: 16px 5px 16px 5px;
        background-color: #012438;
        color: #FFFFFF;
        font-size:12px;
        .row {
            --bs-gutter-x: -2.5rem;
        }
        .p1-f{
            margin-bottom: 5px;
        }
        .p2-f{
            font-size: 5px;
        }
        .p-subtitle{ 
            font-weight: 500;  
            font-size: 14px;      
        }
    }
}

@media only screen and (min-width: 1400px){
    .Div02{
        .Div021{
            .img01 {
                width: 290px;
                height: 360px;
                margin-right: 22px;
                margin-left: 36px;
            }
        }
    }
    
    .Div03{
        .lead{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            width: 1130px; 
            margin-left: 88px;
        }
        .text-areas{
            width: 1130px;    
            font-size: 20px;       
        }
    }
    .Div04{
 
        #Fotao{
            height: 610px;
            bottom: -115px;     
        }
    }
}

